#startGameButton{
    -fx-background-color: #FBBA72;
    -fx-background-radius: 30 30 30 30;

}
#startGameButton:hover{
    -fx-background-color: #FFE5B4;
    -fx-background-radius: 30 30 30 30;
    -fx-cursor: hand;
}

#startGameButton:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

#startDrawingButton{
    -fx-background-color: #FBBA72;
    -fx-background-radius: 30 30 30 30;

}
#startDrawingButtonButton:hover{
    -fx-background-color: #FFE5B4;
    -fx-background-radius: 30 30 30 30;
    -fx-cursor: hand;
}

#startDrawingButtonButton:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

#menuButton:hover{
    -fx-cursor: hand;
}
#menuButton:pressed{
    -fx-scale-y: 0.09;
    -fx-scale-x: 0.09;
}

#statsButton:hover{
    -fx-cursor: hand;
}
#statsButton:pressed{
    -fx-scale-y: 0.09;
    -fx-scale-x: 0.09;
}
#addUserButton:hover {
    -fx-cursor: hand;
}
#addUserButton:pressed {
    -fx-scale-y: 0.09;
    -fx-scale-x: 0.09;
}
#removeUserButton:hover{
    -fx-cursor: hand;
}
#removeUserButton:pressed{
    -fx-scale-y: 0.09;
    -fx-scale-x: 0.09;
}